fastapi
python-multipart
uvicorn
pillow
requests
jinja2
aiofiles
numpy
pandas
torch
torchvision
git+https://github.com/openai/CLIP.git
google-generativeai
chromadb
scikit-learn
tensorflow==2.13
opencv-python
python-dotenv

